@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.luckiest-guy-outline {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px 0px black, -2px -2px 0px black, 2px -2px 0px black,
    -2px 2px 0px black;
}
.luckiest-guy-small-outline {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px 0px black, -2px -2px 0px black, 2px -2px 0px black,
    -2px 2px 0px black;
}
.luckiest-guy-small-outline-yellow {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px 0px #f3edd3, -2px -2px 0px #f3edd3, 2px -2px 0px #f3edd3,
    -2px 2px 0px #f3edd3;
}

/* Bold version */
.luckiest-guy-bold {
  font-family: "Luckiest Guy", cursive;
  font-weight: 700;
  font-style: normal;
}

/* Italic version */
.luckiest-guy-italic {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: italic;
}

/* Bold Italic version */
.luckiest-guy-bold-italic {
  font-family: "Luckiest Guy", cursive;
  font-weight: 700;
  font-style: italic;
}

/* Custom sizes */
.luckiest-guy-small {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-size: 12px;
}

.luckiest-guy-h2 {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
}

.luckiest-guy-medium {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-size: 24px;
}

.luckiest-guy-large {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-size: 48px;
}

.luckiest-guy-custom-number {
  font-family: "Luckiest Guy", cursive;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.abel {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}
